---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-2">Web projects</div>
  </div>

  <HorizontalCard
    title="Barangay Kauswagan Health Services Monitoring System"
    img="/Kauswagan-logo-final.png"
    desc="The Barangay Kauswagan Health Services Monitoring System is designed to provide an efficient and streamlined solution for managing health center operations. This system aims to enhance the retrieval process and simplify the monitoring of health records, allowing the barangay health center to deliver improved services to its residents. With its user-friendly interface and organized record-keeping, the system ensures quick access to accurate information, promoting better healthcare management and more effective decision-making for the community."
    url="#"
    badge="NEW"
  />

  <HorizontalCard
    title="TriviasTer"
    src="/nims.jpg"
    desc="project will be posted soon"
    url="#"
    badge="Soon"
  />

</BaseLayout>
